@use 'variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.app {
    background-color: $darker-blue;
    max-width: 1200px;
    min-height: 100vh;
    margin: auto;
}