@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$font-family: "Inter", serif;

$darker-blue: #030712;
$lighter-blue: #111827;
$white: #F9FAFB;
$grey: #D1D5DB;