@use 'variables' as *;

.navbar {
    display: flex;
    align-items: center;
    gap: 20px;

    .link {
        font-family: $font-family;
        color: $white;
        font-weight: 400;
        text-decoration: none;
    }

    .divider {
        color: #1F2937;
        font-family: $font-family;
        font-weight: 800;
    }

    .curriculo {
        font-family: $font-family;
        color: $darker-blue;
        font-weight: 400;
        text-decoration: none;
        font-size: 16px;
        background-color: $white;
        padding: 6px 14px;
        border-radius: 12px;
        border-width: 1px;
    }
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }
}

@media (min-width: 769px) {
    .hamburger {
        display: none;
    }
}