@use 'variables' as *;

.hero {
    display: flex;
    align-items: center;
    height: 552px;
    background-color: $darker-blue;
}

.content {
    display: flex;
    justify-content: space-between;
    height: 360px;
    width: 100%;
    padding-right: 40px;
}

.textual {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 768px;
    color: $white;
    font-family: $font-family;
    overflow: hidden
}

.greeting {
    font-size: 60px;
    font-weight: 700;
}

.intro {
    color: $grey;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.status {
    color: $grey;
    line-height: 24px;
}

.networks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 120px;
    
}

.network {
    padding: 0px 6px;
}

.photo {
    z-index: 1;
    position: absolute;
    
    border: 8px solid $darker-blue;

}

.frame {
    z-index: 0;
    position: relative;
    top: 50px;
    left: 40px;
    width: 280px;
    height: 280px;
    background-color: #374151;
}