@use 'variables' as *;
@use 'globals' as *;

.hero {
    display: flex;
    background-color: $darker-blue;

    .content {
        display: flex;
        justify-content: space-between;
        gap: 80px;

        width: 100%;
        padding: 80px 50px 120px 10px;
        

        .textual {
            display: flex;
            flex-direction: column;
            gap: 30px;

            color: $white;
            font-family: $font-family;
            overflow: hidden;

            .greeting {
                font-size: 60px;
                font-weight: 700;
            }

            .intro {
                color: $grey;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
            }

            .status {
                color: $grey;
                line-height: 24px;
            }

            .networks {
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 120px;

                .network {
                    padding: 0px 6px;
                }
            }
        }

        .photo {
            z-index: 1;
            position: absolute;
            border: 8px solid $darker-blue;

        }

        .frame {
            z-index: 0;
            position: relative;
            top: 50px;
            left: 40px;
            width: 280px;
            height: 280px;
            background-color: #374151;
        }
    }

    @media (max-width: 768px) {
        .content {
            flex-direction: column-reverse;
            justify-content: space-evenly;
            align-items: center;
            height: 800px;
            padding: 0px 16px 28px 16px;
        }
    }
}