@use 'variables' as *;

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $lighter-blue;
    width: 100%;
    .content {
        padding: 24px 0px;
        .textual {
            width: 100%;
            .message {
                color: $grey;
                font-size: 14px;
            }
        }
    }
}