@use 'variables' as *;

.about {
    background-color: $lighter-blue;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 96px 84px 96px 84px;

        .textual {
            display: flex;
            flex-direction: column;
            gap: 48px;

            .bio {
                display: flex;
                gap: 80px;

                .photo {
                    flex-shrink: 0;
                    flex-grow: 0;
                    width: 400px;
                    height: 550px;
                    margin-left: 16px;
                    border-left: 8px solid;
                    border-bottom: 8px solid;
                    border-color: $lighter-blue;
                    filter: drop-shadow(-16px 16px 0px $darker-grey);
                }

                @media (max-width: 768px) {
                    .photo {
                        width: 280px;
                        height: 385px;
                    }
                }

                .depict {
                    flex-grow: 1;
                    color: $grey;
                    font-size: 16px;
                    font-weight: 400px;
                    line-height: 24px;
                }

                @media (max-width: 1000px) {
                    .depict {
                        text-align: justify;
                    }
                }
            }

            @media (min-width: 2000px) {
                .bio {
                    gap: 4vw;
                }
            }

            @media (max-width: 1000px) {
                .bio {
                    gap: 48px;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }

    @media (max-width: 1000px) {
        .content {
            padding: 64px 32px 64px 32px;
        }
    }
}