@use 'variables' as *;

.logo {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: $white;
    text-decoration: none;
    font-size: 30px;
}